* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #282d35;
}

.nav--main {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 91px;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

.nav--logo {
  height: 30px;
  margin-right: 7px;
}

main {
  padding: 57px 27px;
  background-image: url(./images/reactjs-icon\ 2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 75%;
  background-color: #282d35;
}

.main--title {
  margin: 20px;
  font-size: 39px;
  color: #ffffff;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  color: #ffffff;
  max-width: 400px;
}

.main--facts > li {
  /* font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px; */
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker {
  color: #61dafb;
  font-size: 1.4rem;
}
